section.measure-wide {
  max-width: 70%;
}

.f4 {
  font-size: 25px !important;
}

.f2 {
  font-size: 100px !important;
  color: white !important;
  font-weight: 400 !important;
}

h2 {
  font-weight: 500; /* Semi-bold */
}

header {
  padding: 0 !important;
  margin: 0 !important;
}